<manifest
    package="com.github.moduth.blockcanary"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To store the heap dumps and leak analysis results. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <activity
            android:name=".ui.DisplayActivity"
            android:enabled="false"
            android:icon="@drawable/block_canary_icon"
            android:label="@string/block_canary_display_activity_label"
            android:taskAffinity="com.github.moduth.blockcanary"
            android:theme="@style/block_canary_BlockCanary.Base"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.github.moduth.blockcanary.analyzer.BlockCanaryStartupInitializer"
                android:value="@string/androidx_startup" />
        </provider>
    </application>
</manifest>
